<mat-dialog-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Item Categories</mat-card-title>
            <mat-card-subtitle>
                @if (!dialogData.addNew) {

                <button mat-button (click)="add()">
                    Add new category
                </button>
                }
                @if (dialogData.addNew) {

                <mat-form-field>
                    <mat-label>New Category</mat-label>
                    <input matInput [formControl]="catFC" id="catName" type="text" required />

                </mat-form-field>
                <button mat-button (click)="updateCat()" [disabled]="!catFC.valid">Save</button>

                }

            </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                @for (cat of cats().sort(sortFn); track cat) {
                @if (!isCatEdited(cat.id)) {
                <mat-list-item role="listitem">
                    {{ cat?.name }}
                    <button mat-button (click)="edit(cat)">
                        Edit category
                    </button>
                    <button mat-button (click)="delete(cat)">
                        Delete category
                    </button>
                </mat-list-item>
                }
                @if (isCatEdited(cat.id)) {

                <mat-form-field>
                    <input matInput [formControl]="catFC" id="catName" type="text" required />

                </mat-form-field>
                <button mat-button (click)="updateCat(cat)" [disabled]="!catFC.valid">Save</button>

                }
                }
            </mat-list>
        </mat-card-content>
    </mat-card>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="latestCat" cdkFocusInitial>Ok</button>
</mat-dialog-actions>