@if (item) {<app-trail [trail]="trail"></app-trail>

<mat-card
  appearance="outlined"
  cdkDropList
  [id]="'itemList'"
  [cdkDropListConnectedTo]="drag.dropLists()"
  [cdkDropListData]="item"
>
  <mat-card-header class="draggable" cdkDrag (cdkDragStarted)="onDragStarted()">
    <div mat-card-avatar>
      <mat-chip *cdkDragPreview>
        <app-icon matChipAvatar>{{ icon.item }}</app-icon
        >{{ item.name }}
      </mat-chip>
      <div *cdkDragPlaceholder class="custom-placeholder"></div>

      <app-icon>{{ icon.item }}</app-icon>
    </div>
    <mat-card-title-group>
      <mat-card-title>{{ item.name }}</mat-card-title>
      @if (item.catID){
      <mat-card-subtitle
        ><button
          mat-button
          [routerLink]="['/item-list']"
          [queryParams]="{ id: item.catID, name: cat?.name }"
        >
          {{ cat?.name }}
        </button></mat-card-subtitle
      >
      }
    </mat-card-title-group>
    <div class="spacer"></div>
    <button mat-mini-fab [routerLink]="['/add-edit-item', this.id]">
      <app-icon>{{ icon.edit }}</app-icon>
    </button>
    <button mat-icon-button (click)="deleteItem()">
      <app-icon>{{ icon.delete }}</app-icon>
    </button>
  </mat-card-header>

  @if (item.description || (item.tags && item.tags.length > 0) ||
  (nas.loggedIn() && picture())) {
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item *ngIf="item?.description" role="listitem">{{
        item.description
      }}</mat-list-item>
      <mat-list-item *ngIf="item.tags?.length" role="listitem">
        <mat-chip-set aria-label="Fish selection">
          <mat-chip
            *ngFor="let tag of item.tags"
            [routerLink]="['/item-list', tag]"
            >{{ tag }}</mat-chip
          >
        </mat-chip-set>
      </mat-list-item>
      @if (nas.loggedIn() && picture()) {
      <img [src]="picture()" alt="Image" (click)="openImageDialog()" />
      }
    </mat-list>
  </mat-card-content>
  }
</mat-card>
}
