
<div class="example-button-row">
    <button mat-button [routerLink]=" ['/']">List</button>
    <button mat-button [routerLink]=" ['/add-edit-item']">Add New Item</button>
</div>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{box?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item *ngFor="let item of box?.items" [routerLink]=" ['/item',item?.id]"role="listitem">{{ item.name }}</mat-list-item>
          </mat-list>
    </mat-card-content>
    

  </mat-card>
