<div class="example-button-row">
    <button mat-button [routerLink]=" ['/']">List</button>
    <button mat-button [routerLink]=" ['/box', box?.id]">Back To Box #{{ box?.name }}</button>
    <button mat-button [routerLink]=" ['/add-edit-item', item?.id]">Edit Item</button>
    <button mat-button (click)="deleteItem()">Delete Item</button>
</div>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>{{item?.catName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item *ngIf="item?.description" role="listitem">{{ item?.description }}</mat-list-item>
            <mat-list-item role="listitem">Box #{{ box?.name }}</mat-list-item>
            <mat-list-item *ngIf="item?.tags?.length" role="listitem"><mat-chip-set aria-label="Fish selection">
                <mat-chip *ngFor="let tag of item?.tags" [routerLink]=" ['/item-list', tag]">{{tag}}</mat-chip>
              </mat-chip-set></mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>