<div class="example-button-row">
  <button mat-button [routerLink]=" ['/']">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
</button>
</div>
<mat-toolbar>
  @if (tag) {
    <mat-chip><mat-icon matChipAvatar aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> {{ tag }}</mat-chip>
  }
  @else if (cat) {
    <span>{{cat.name}}</span>
  }
    
  </mat-toolbar>
<mat-card *ngFor="let item of items"appearance="outlined" [routerLink]=" ['/item',item?.id]">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
          <p> Box #{{item.boxName}}</p>
    </mat-card-content>
    

  </mat-card>
