<mat-toolbar>
  <span>List of Unassigned Items</span>
</mat-toolbar>
@if (formGroup.dirty) {
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Delete selected Items
      <button mat-button (click)="deleteSelected()">
        <app-icon aria-hidden="false" aria-label="Example home icon">{{
          icon.delete
        }}</app-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Assign to Box</mat-label>
      <mat-select (selectionChange)="assignSelectedToBox($event)">
        @for (box of boxes; track box) {
        <mat-option [value]="box.id">#{{ box.name }}</mat-option>

        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assign to Room</mat-label>
      <mat-select (selectionChange)="assignSelectedToRoom($event)">
        @for (room of rooms; track room.id) {
        <mat-option [value]="room.id">#{{ room.name }}</mat-option>

        }
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
}
<form [formGroup]="formGroup">
  <mat-list>
    @for (item of items().sort(sortFn); track item.name){
    <mat-list-item class="list-item">
      <div class="list-item-grid">
        <div class="column">
          <app-icon>{{ icon.item }}</app-icon>
        </div>

        <div class="column">
          <mat-chip-option
            [selected]="getControl(item.id).value"
            (selectionChange)="onChipChange($event, item.id)"
          >
            {{ item.name }}
          </mat-chip-option>
        </div>

        <div class="column">
          <button mat-button (click)="delete(item)">
            <app-icon aria-hidden="false" aria-label="Example home icon">
              {{ icon.delete }}
            </app-icon>
          </button>
        </div>

        <div class="column">
          <mat-form-field>
            <mat-label>Assign to box</mat-label>
            <mat-select (selectionChange)="assign(item, $event)">
              @for (box of boxes; track box) {
              <mat-option [value]="box.id">#{{ box.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-list-item>
    }
  </mat-list>
</form>
