<mat-card>
    <mat-card-header>
        <mat-card-title>Item Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            @for (cat of cats(); track cat) {
            <mat-list-item role="listitem">{{ cat?.name }}</mat-list-item>
            <button (click)="edit(cat)">
                Edit category
              </button>
            @if (isCatEdited(cat.id)) {
                <div>
                    <input matInput [formControl]="cat.name" id="catName" type="text" required>
                    <button mat-button (click)="updateCat()" [disabled]="!form.valid">Save</button>
                </div>
            }
            }
        </mat-list>
    </mat-card-content>
</mat-card>