.mat-toolbar {
    position: sticky;
    top: 0;
    z-index:10000;
}

.mat-mdc-list .mat-mdc-list-item {
    height: auto;
    padding: 3px 0;
  }

  .spacer {
    flex: 1 1 auto;
}
.spacerparent {
    display: flex;
    align-self: center
}

  .mat-mdc-list .mat-mdc-list-item.custom-list-item {
      padding: 3px 0;
    }
  
  
    :host ::ng-deep .custom-field .mat-mdc-form-field-icon-prefix {
    padding: 0 10px 0 0 !important;
  }
  
  .custom-field {
  
  
    --mdc-filled-text-field-label-text-color: #898f9b;
    --mdc-filled-text-field-hover-label-text-color:#8a8f98;
    --mat-form-field-leading-icon-color: #898f9b;
    --mdc-filled-text-field-container-color: #fefefe;
    --mat-form-field-hover-state-layer-opacity: 0.01;
    --mdc-filled-text-field-active-indicator-color: #898f9b;
    --mat-form-field-filled-with-label-container-padding-top:15px;
    --mat-form-field-container-height:45px;
  
  
    .mdc-text-field__input {
      
    }
    
    .mat-mdc-form-field-prefix {
  
    }
  }