<mat-card [formGroup]="form" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <mat-form-field>
                <mat-label>Item name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-form-field>
                <mat-label>Item category</mat-label>
                <mat-select formControlName="catID">
                    @for (cat of cats; track cat) {
                      <mat-option [value]="cat.id">{{cat.name}}</mat-option>
                    }
                  </mat-select>
            </mat-form-field>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="container">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Box</mat-label>
                <mat-select formControlName="boxID">
                    @for (box of boxes; track box) {
                      <mat-option [value]="box.id">#{{box.id}}</mat-option>
                    }
                  </mat-select>
            </mat-form-field>



              <mat-form-field class="example-form-field">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #reactiveChipGrid aria-label="Enter Tags" formControlName="tags">
                @for (tag of form.get('tags')?.value; track tag) {
                  <mat-chip-row (removed)="remove(tag)">
                    {{tag}}
                  <button matChipRemove aria-label="'remove ' + tag">
                    <mat-icon>cancel</mat-icon>
                  </button>
                  </mat-chip-row>
                }
                </mat-chip-grid>
                <input
                  placeholder="New Tag..."
                  [matChipInputFor]="reactiveChipGrid"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-form-field>
        </div>

    </mat-card-content>
</mat-card>